@import url('https://fonts.googleapis.com/css2?family=Inter&family=Jacques+Francois+Shadow&family=Lato&family=Quicksand:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lato&family=Quicksand:wght@400;500&display=swap');
body{margin: 0 ;
    padding: 0;
    overflow-x: hidden;
    background: rgba(225, 255, 255, );
}

*{box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/* barre de navigation */
nav{
    background: white;
   display: flex;
   width: 100%;
   position: fixed; 
   justify-content: space-between;
   align-items: center;
   height: 80px;
   z-index: 1;
   box-shadow: 1px 1px 1px 1px ;  
}

 nav .onglets ul li{
    display: inline-block;
    color: rgba(255, 255, 255, 0.76);
    margin:0 20px;
    line-height: 80px;
    
    }
    .onglets ul{
        margin-right: 40px;
    }

     nav p{ 
        margin-left: 80px;
    }
    
    a{color: #050621;
         font-family:'Inter', sans-serif;
        text-decoration: none;
        font-size: 20px; 
    }

    .active{
        color: #CA970c;
        text-decoration: underline;
        
    }
    
     /* a:hover{
        color: #CA970c;
        text-decoration: underline;
        transition: 0.5s;
       transform:skew(0.5) ;
    } */

    button{
         display: flex;
         justify-content: center;
         align-items: center;
         background: #050621;
         padding:10px;
         margin-left:10px ;
         width: 120px;
         border: none;
         border-radius: 5px;
         box-shadow: 1px 1px 1px 1px ;
    }

    .deconect{
        color: white;
        font-size: 15px;
        font-weight: bold;
    }
    button:hover{
        scale: 1.05;
     }

     .logo img{
        display: none;
        cursor: pointer;   
    }
    
    #check{
        display:none ;
    }
    
    /* responsivité */
    
    @media screen and (max-width:768px){
        .logo img{
            display: block;
        }
     
       .onglets ul  { position: fixed;
            width: 100%;
           backdrop-filter:blur(3px);
            height: 20vh;
            top: 90px;
            text-align: right;
            left: 100%;
            transition: all .5s ;
        }
    
        nav .onglets ul li{
            margin-right: 40px;
            margin-top: -20px; 
        }
         
        #check:checked ~ ul{
            left: 0;
            margin-top: 10px;  
        }
        
    }
    

    .agenda{

        width: 100%;
        height: 100vh;
        background:url(./image/article_02.jpeg) ;
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
    }

    .debut{
        display: flex;
        justify-content: center;
        text-align: center;
        position: absolute;
        top: 300px;
    
    }
     .debut{
        width: 600px;
     }

    .orga p{
     font-size: 40px;
     margin-bottom: 20px;
    }

    .orga button {
     
       background: white;
       margin-left: 200px;
       cursor: pointer;
    }